{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">

  </head>
  <body>
  	  
     <div class="navbar navbar-inverse navbar-static-top">    
     
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                            <span class="sr-only">Open navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Logo</a>
                    </div>
                    <div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#">projects</a></li>
                            <li><a href="#">news</a></li>
                            <li><a href="/how_it_works/">how it works</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">info <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">about as</a></li>
                                    <li><a href="#">faq</a></li>
                                    <li><a href="#">partners</a></li>
                                    <li><a href="#">board members</a></li>
                                </ul>
                            </li>                           
                        </ul>
                       <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">language selector<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">AM</a></li>
                                    <li><a href="#">EN</a></li>
                                    <li><a href="#">RU</a></li>
                                    
                                </ul>
                            </li>
                            {% if username %}
                            	<li><p>logged in</p> <a href="#">{{ username }}</a></li>
                            	<li><a href="#">my account</a></li>
                            	<li><a href="#">log out</a></li>
                            {% else %}
                            	<li><a href="#">sign up</a></li>
                            	<li><a href="#">sign in</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>                
            </div>
     <div class="header"></div>
     <div id="wrapper">
          <div id="left-side"></div>
          <div id="content">
            	<div class="board_members">
                	{% for board_member in board_members %}
                    	<div class="board_member">
                    		<div>{{ board_member.last_name }}</p>
                    		<p>{{ board_member.photo }}</p>
                    		<p>{{ board_member.position }}</p>
                    		
                    	</div>
                	{% endfor %}
            	</div>
            	<div class="partners">
                	{% for partner in partners %}
                    <div class="partner">
                    		
                    </div>
                	{% endfor %}
            	</div>
            	<div class="partners">
                	{% for project in projects %}
                    <div class="partner"></div>
                	{% endfor %}
            	</div>
            	{% block how_it_works %}{% endblock %}
            	{% block projects %}{% endblock %}
            	{% block activ_project %}{% endblock %}		
          </div>
          <div id="right-side"></div>
     </div>

     <div class="footer">
            	<div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#">about us</a></li>
                            <li><a href="#">faq</a></li>
                            <li><a href="#">partners</a></li>
                            <li><a href="#">board members</a></li>
                            <li><a href="#">terms</a></li>
                            <li><a href="#">policy</a></li>
                            <li><a href="#">social networks</a></li>
                        </ul>
                    </div>
            </div>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
