{% extend 'main_page.html' %}
{% block active_project %}
<div>
<!--Cover photo-->
	<div class="Class for image">
		<img src="{{ project.main_photo }}">
	</div>
<!--Website link-->
	<div>
		<a href="{{ project.website }}">Project website</a>
	</div>
<!--Sharing buttons-->
	<div>
		<p>
		<!-- Twitter -->
		<a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter">
			<img src="https://g.twimg.com/Twitter_logo_blue.png"  alt="Twitter" height="42" width="42">
			<i class="fa fa-twitter"></i>
		</a>
		<!-- Facebook -->
		<a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook">
			<img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook" height="42" width="42">
			<i class="fa fa-facebook"></i>
		</a>
		<!-- Google+ -->
		<a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Google_plus.svg/1047px-Google_plus.svg.png" alt="Google+" height="42" width="42">
			<i class="fa fa-google-plus"></i>
		</a>
		<!-- LinkedIn --> 
		<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" alt="LinkedIn" height="42" width="42">
			<i class="fa fa-linkedin"></i>
		</a>
		</p>
	</div>
<!--Description-->
	<div>
		<p>{{ project.description }}</p>
	</div>
<!--News section-->
	<div>
		{% for new in news %}
			<p>{{ new.title }}</p>
			<p>{{ new.text }}</p>
			<a href="{{ new.video_link }}" target="_blank">Links for news</a>
		{% endfor %}
	</div>
<!--Contribute area/button-->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">
				<a href="#collapse-2" data-parent="#accordion" data-toggle="collapse">Button</a>
			</h1>
		</div>
		<div id="collapse-2" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Contribute area</p>
			</div>
		</div>
	</div>
<!--Backers-->
	<div>
		<p>Numbers of backers in each amount ($1-$5) = {{ number }}</p>
	</div>
<!--Total sum raised / needed or target and deadlines-->
	<div>
		<p>Total sum neads = {{ project.amount }}</p>
	</div>
	<div>
		<p>Total sum raised = {{ raised }}</p>
	</div>
	<div>
		<p>Deadline is {{ project.deadlines }}</p>
	</div>
<!--Entrepreneur-->
	<div>
		<div class="Class for image">
			<img src="{{ project.entrepreneure.photo }}">
		</div>
		<div>
			<p>{{ project.entrepreneure.name }}</p>
		</div>
		<div>
			<a href="#">Link to description page</a>
		</div>
	</div>
{% block news %} {% endblock %}
{% endblock %}