{% extend 'active_project.html' %}
{% block news %}
<!--News section-->
	<div>
		{% for new in news %}
			<p>{{ new.title }}</p>
			<p>{{ new.text }}</p>
			<a href="{{ new.video_link }}" target="_blank">Links for videonews</a>
		{% endfor %}
	</div>
{% endblock %}